In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("data.csv")
data.head()

,Unnamed: 0,ISO_Code,GDLCODE,year,iwipov50_real,iwipov50,shdi_educ,shdi_health,shdi_income,iwi_real,...,agri_p,trade_tourism_p,transport_p,unspecified_p,vague_p,water_p,women_p,social_sector_p,economic_sector_p,productive_sector_p
0,0,AFG,AFGr101,1998,NaN,NaN,0.342,0.554,0.379,NaN,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.533333,0.066667,0.000000
1,1,NGA,NGAr101,1998,NaN,0.882,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.066667
2,2,NGA,NGAr108,1998,NaN,0.946,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,3,NGA,NGAr137,1998,NaN,0.910,NaN,NaN,NaN,NaN,...,0.0,0.0,0.133333,0.0,0.0,0.0,0.0,0.333333,0.200000,0.000000
4,4,NGA,NGAr122,1998,NaN,0.830,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [2]:

data = data[['GDLCODE', 'year', 'iwipov50_real', 'transport']]

data = data.sort_values(by=['GDLCODE', 'year']).reset_index()
data.drop(columns=['index'], inplace=True)

data.head()

   GDLCODE  year  iwipov50_real  transport
0  AFGr101  1998            NaN        NaN
1  AFGr101  1999            NaN        NaN
2  AFGr101  2000            NaN        0.0
3  AFGr101  2001            NaN        0.0
4  AFGr101  2002            NaN        0.0

In [3]:
trans_2y = data.groupby('GDLCODE', as_index=False)['transport'].rolling(2, min_periods=1).sum().shift()
data["trans2y"] = trans_2y.reset_index(level=0, drop=True)

In [4]:
trans_3y = data.groupby('GDLCODE', as_index=False)['transport'].rolling(3, min_periods=1).sum().shift()
data["trans3y"] = trans_3y.reset_index(level=0, drop=True)

In [5]:
trans_4y = data.groupby('GDLCODE', as_index=False)['transport'].rolling(4, min_periods=1).sum().shift()
data["trans4y"] = trans_4y.reset_index(level=0, drop=True)

In [6]:
trans_5y = data.groupby('GDLCODE', as_index=False)['transport'].rolling(5, min_periods=1).sum().shift()
data["trans5y"] = trans_5y.reset_index(level=0, drop=True)

In [7]:
data.head()

   GDLCODE  year  iwipov50_real  transport  trans2y  trans3y  trans4y  trans5y
0  AFGr101  1998            NaN        NaN      NaN      NaN      NaN      NaN
1  AFGr101  1999            NaN        NaN      NaN      NaN      NaN      NaN
2  AFGr101  2000            NaN        0.0      NaN      NaN      NaN      NaN
3  AFGr101  2001            NaN        0.0      0.0      0.0      0.0      0.0
4  AFGr101  2002            NaN        0.0      0.0      0.0      0.0      0.0

In [8]:
data = data[data['iwipov50_real'].notna()].copy().reset_index()

data.head()

,index,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y
0,12,AFGr101,2010,0.519,0.0,0.0,0.0,0.0,0.0
1,17,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0
2,33,AFGr102,2010,0.831,0.0,0.0,0.0,0.0,0.0
3,38,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0
4,54,AFGr103,2010,0.788,0.0,0.0,0.0,0.0,0.0

In [9]:
prev = data.groupby('GDLCODE', as_index=False)['iwipov50_real'].shift()
data["prev"] = prev.reset_index(level=0, drop=True)

data.head()

,index,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev
0,12,AFGr101,2010,0.519,0.0,0.0,0.0,0.0,0.0,NaN
1,17,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519
2,33,AFGr102,2010,0.831,0.0,0.0,0.0,0.0,0.0,NaN
3,38,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831
4,54,AFGr103,2010,0.788,0.0,0.0,0.0,0.0,0.0,NaN

In [10]:
prev_year = data.groupby('GDLCODE', as_index=False)['year'].shift()
data["prev_year"] = prev_year.reset_index(level=0, drop=True)

data['prev_year'] = data['prev_year'].fillna(0.0).astype(int)

data.head()

,index,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year
0,12,AFGr101,2010,0.519,0.0,0.0,0.0,0.0,0.0,NaN,0
1,17,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519,2010
2,33,AFGr102,2010,0.831,0.0,0.0,0.0,0.0,0.0,NaN,0
3,38,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831,2010
4,54,AFGr103,2010,0.788,0.0,0.0,0.0,0.0,0.0,NaN,0

In [11]:
data = data[data['prev'].notna()].copy().reset_index()

data

,level_0,index,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year
0,1,17,AFGr101,2015,0.3680,NaN,0.0,0.0,0.0,0.0,0.5190,2010
1,3,38,AFGr102,2015,0.7650,NaN,0.0,0.0,0.0,0.0,0.8310,2010
2,5,59,AFGr103,2015,0.7790,NaN,0.0,0.0,0.0,0.0,0.7880,2010
3,7,80,AFGr104,2015,0.3760,NaN,0.0,0.0,0.0,0.0,0.7780,2010
4,9,101,AFGr105,2015,0.6160,NaN,0.0,0.0,0.0,0.0,0.7100,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
2092,3284,25213,ZWEr109,2011,0.2660,1.0,0.0,0.0,0.0,0.0,0.2110,2006
2093,3285,25217,ZWEr109,2015,0.2560,NaN,0.0,0.0,1.0,1.0,0.2660,2011
2094,3287,25229,ZWEr110,2006,0.1310,0.0,0.0,0.0,0.0,0.0,0.2930,1999
2095,3288,25234,ZWEr110,2011,0.0679,0.0,0.0,0.0,0.0,0.0,0.1310,2006
2096,3289,25238,ZWEr110,2015,0.0563,NaN,0.0,0.0,0.0,0.0,0.0679,2011

In [12]:
data.drop(columns=['index', 'level_0'], inplace=True)
data.head()

,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year
0,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519,2010
1,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831,2010
2,AFGr103,2015,0.779,NaN,0.0,0.0,0.0,0.0,0.788,2010
3,AFGr104,2015,0.376,NaN,0.0,0.0,0.0,0.0,0.778,2010
4,AFGr105,2015,0.616,NaN,0.0,0.0,0.0,0.0,0.710,2010

In [13]:
data.dtypes

GDLCODE           object
year               int64
iwipov50_real    float64
transport        float64
trans2y          float64
trans3y          float64
trans4y          float64
trans5y          float64
prev             float64
prev_year          int32
dtype: object

In [14]:
data['unit_of_analysis'] = data['GDLCODE'] + '_' + data['prev_year'].astype('str') + '_to_' + data['year'].astype('str')

In [15]:
data.head()

,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year,unit_of_analysis
0,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519,2010,AFGr101_2010_to_2015
1,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831,2010,AFGr102_2010_to_2015
2,AFGr103,2015,0.779,NaN,0.0,0.0,0.0,0.0,0.788,2010,AFGr103_2010_to_2015
3,AFGr104,2015,0.376,NaN,0.0,0.0,0.0,0.0,0.778,2010,AFGr104_2010_to_2015
4,AFGr105,2015,0.616,NaN,0.0,0.0,0.0,0.0,0.710,2010,AFGr105_2010_to_2015

In [16]:
data['trans2y_d'] = np.where(data['trans2y'] > 1, 1, 0)
data['trans3y_d'] = np.where(data['trans3y'] > 1, 1, 0)
data['trans4y_d'] = np.where(data['trans4y'] > 1, 1, 0)
data['trans5y_d'] = np.where(data['trans5y'] > 1, 1, 0)
data.head()

,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year,unit_of_analysis,trans2y_d,trans3y_d,trans4y_d,trans5y_d
0,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519,2010,AFGr101_2010_to_2015,0,0,0,0
1,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831,2010,AFGr102_2010_to_2015,0,0,0,0
2,AFGr103,2015,0.779,NaN,0.0,0.0,0.0,0.0,0.788,2010,AFGr103_2010_to_2015,0,0,0,0
3,AFGr104,2015,0.376,NaN,0.0,0.0,0.0,0.0,0.778,2010,AFGr104_2010_to_2015,0,0,0,0
4,AFGr105,2015,0.616,NaN,0.0,0.0,0.0,0.0,0.710,2010,AFGr105_2010_to_2015,0,0,0,0

In [17]:
data['change_iwipov50'] = data['iwipov50_real'] - data['prev']
data['years_between_measurements'] = data['year'] - data['prev_year']
data.head()

,GDLCODE,year,iwipov50_real,transport,trans2y,trans3y,trans4y,trans5y,prev,prev_year,unit_of_analysis,trans2y_d,trans3y_d,trans4y_d,trans5y_d,change_iwipov50,years_between_measurements
0,AFGr101,2015,0.368,NaN,0.0,0.0,0.0,0.0,0.519,2010,AFGr101_2010_to_2015,0,0,0,0,-0.151,5
1,AFGr102,2015,0.765,NaN,0.0,0.0,0.0,0.0,0.831,2010,AFGr102_2010_to_2015,0,0,0,0,-0.066,5
2,AFGr103,2015,0.779,NaN,0.0,0.0,0.0,0.0,0.788,2010,AFGr103_2010_to_2015,0,0,0,0,-0.009,5
3,AFGr104,2015,0.376,NaN,0.0,0.0,0.0,0.0,0.778,2010,AFGr104_2010_to_2015,0,0,0,0,-0.402,5
4,AFGr105,2015,0.616,NaN,0.0,0.0,0.0,0.0,0.710,2010,AFGr105_2010_to_2015,0,0,0,0,-0.094,5

In [18]:
data.to_csv('dataset_v2.csv')
data.to_stata('dataset_v2.dta')

In [ ]:
iwipov50_real = real values of iwipov50 (not inter- or extrapolated values)
year = observed year
prev_year = the year of the last real iwipov50 value before the observed year
years_between_measurements
transport = number transport project in the observed year
trans2y/3y/4y/5y = cumulative number of transport projects committed in the 2/3/4/5 years prior to the observed year
trans2y/3y/4y/5y_d = dummy indicating 1 or more projects committed in the 2/3/4/5 years prior to the observed year